@keyframes foodBlinking {
  0% {
    background-color: red;
  }
  100% {
    background-color: #6381af;
  }
}
@keyframes mineBlinking {
  0% {
    background-color: red;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mineWallBlinking {
  0% {
    background-color: red;
  }
  100% {
    background-color: #822b22;
  }
}
@keyframes smokeBlinking {
  0% {
    opacity: 0;
  }
  100% {
    background-color: #939393;
  }
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 16px/2 cursive;
  font-family: cursive;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  background-image: url("./img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
html .start-label {
  position: absolute;
  top: 265px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  transition: 0.2s;
}
html .won-label,
html .lose-label {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  transition: 0.2s;
  display: none;
}
html #game {
  width: 832px;
}
html #game #map {
  width: 62.5%;
  float: left;
  transition: 0.5s;
  height: 520px;
  border: 1px solid white;
  background-image: url("./img/center-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html #game #map, html #game #map td {
  border-collapse: collapse;
}
html #game #map .snake {
  background-image: url(./img/snake-body.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
html #game #map .snake-head {
  background-image: url(./img/snake-head.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html #game #map .food {
  background-image: url("./img/food.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html #game #map .special-food {
  background-image: url("./img/food.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: foodBlinking 1s infinite;
}
html #game #map .wall {
  background-color: #822b22;
}
html #game #map .obstacle {
  background-color: #90993d;
}
html #game #map .mine {
  animation: mineBlinking 1s infinite;
}
html #game #map .mine.wall {
  animation: mineWallBlinking 1s infinite;
}
html #game #map .smoke {
  animation: smokeBlinking 0.5s infinite;
}
html #game #left-map {
  width: 18.75%;
  float: left;
}
html #game #left-map .content {
  text-shadow: 0px 0px 3px black;
}
html #game #right-map {
  width: 18.75%;
  float: left;
}
html #game #right-map .content {
  text-shadow: 0px 0px 3px black;
}
html #info {
  margin-left: 156px;
  width: 520px;
  height: 130px;
  border-collapse: collapse;
}
html #info #score {
  width: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: #1c2128;
  border: 1px solid white;
  color: white;
}
html #info #score .score-title {
  font-size: 15px;
  line-height: 1px;
}
html #info #score .score-point {
  font-size: 30px;
  line-height: 50px;
}
html #info #instruct {
  background-color: #1c2128;
  border: 1px solid white;
  color: white;
}
html #info #instruct #title {
  font-size: 15px;
  text-align: center;
  line-height: 0;
}
html #info #instruct #content {
  width: 100%;
}
html #info #instruct #content .move-content {
  float: left;
  width: 30%;
  padding-left: 5%;
  font-size: 15px;
  line-height: 5px;
}
html #info #instruct #content .obstacle-content {
  float: left;
  width: 65%;
  font-size: 15px;
  line-height: 5px;
}
html #info #instruct #content .obstacle-content .obstacle-content-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 8px;
}
html #info #instruct #content .obstacle-content .obstacle-content-item .obstacle-content-color {
  width: 5%;
  width: 13px;
  height: 13px;
}
html #info #instruct #content .obstacle-content .obstacle-content-item .obstacle-content-notice {
  width: 95%;
}
html #info #instruct #content .obstacle-content .obstacle-content-item .wall {
  background-color: #822b22;
}
html #info #instruct #content .obstacle-content .obstacle-content-item .mine {
  animation: mineBlinking 1s infinite;
}
html #info #instruct #content .obstacle-content .obstacle-content-item .smoke {
  animation: smokeBlinking 0.5s infinite;
}
html #info #instruct #content .obstacle-content .obstacle-content-item .food {
  background-image: url("./img/food.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html #info #instruct #content .obstacle-content .obstacle-content-item .obstacle {
  background-color: #90993d;
}
html #level {
  margin-top: -5px;
  margin-bottom: 5px;
  width: 520px;
  margin-left: 156px;
}
html #level td {
  text-align: center;
}
html #level td button {
  width: 70px;
  height: 25px;
  border-radius: 100px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #39a832;
}
html #level td button:hover {
  background-color: #39a832;
  box-shadow: 0 0 5px #39a832, 0 0 25px #39a832, 0 0 5px #39a832, 0 0 10px #39a832;
}
html .pause {
  text-align: center;
  vertical-align: middle;
  transition: 0.2s;
}
html .pause .pause-button {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  font-size: 40px;
  color: white;
  border: none;
  background-color: #6381af;
}
html .pause .pause-button:hover {
  background-color: #6381af;
  box-shadow: 0 0 5px #6381af, 0 0 25px #6381af, 0 0 5px #6381af, 0 0 10px #6381af;
}
html .pause .pause-content {
  line-height: 0px;
  color: white;
  font-size: 20px;
}
html .mode {
  text-align: center;
  vertical-align: middle;
  transition: 0.2s;
}
html .mode .mode-button {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: #6381af;
}
html .mode .mode-button:hover {
  background-color: #6381af;
  box-shadow: 0 0 5px #6381af, 0 0 25px #6381af, 0 0 5px #6381af, 0 0 10px #6381af;
}
html .mode .mode-content {
  line-height: 0px;
  color: white;
  font-size: 20px;
}
html .reload {
  text-align: center;
  vertical-align: middle;
  transition: 0.2s;
}
html .reload .reload-button {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  font-size: 40px;
  color: white;
  border: none;
  background-color: #6381af;
}
html .reload .reload-button:hover {
  background-color: #6381af;
  box-shadow: 0 0 5px #6381af, 0 0 25px #6381af, 0 0 5px #6381af, 0 0 10px #6381af;
}
html .reload .reload-content {
  line-height: 0px;
  color: white;
  font-size: 20px;
}
html .next {
  text-align: center;
  vertical-align: middle;
  transition: 0.2s;
}
html .next .next-button {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  font-size: 40px;
  color: white;
  border: none;
  background-color: #6381af;
}
html .next .next-button:hover {
  background-color: #6381af;
  box-shadow: 0 0 5px #6381af, 0 0 25px #6381af, 0 0 5px #6381af, 0 0 10px #6381af;
}
html .next .next-content {
  line-height: 0px;
  color: white;
  font-size: 20px;
}
html .sound {
  text-align: center;
  vertical-align: middle;
  transition: 0.2s;
}
html .sound .sound-button {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  font-size: 40px;
  color: white;
  border: none;
  background-color: #6381af;
}
html .sound .sound-button:hover {
  background-color: #6381af;
  box-shadow: 0 0 5px #6381af, 0 0 25px #6381af, 0 0 5px #6381af, 0 0 10px #6381af;
}
html .sound .sound-content {
  line-height: 0px;
  color: white;
  font-size: 20px;
}
html .music {
  text-align: center;
  vertical-align: middle;
  transition: 0.2s;
}
html .music .music-button {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  font-size: 40px;
  color: white;
  border: none;
  background-color: #6381af;
}
html .music .music-button:hover {
  background-color: #6381af;
  box-shadow: 0 0 5px #6381af, 0 0 25px #6381af, 0 0 5px #6381af, 0 0 10px #6381af;
}
html .music .music-content {
  line-height: 0px;
  color: white;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */