$mainBackgroundColor: #0d1117;
$gameBackgroundColor: #2b3440;
$snakeColor: #6ad16e;
$foodColor: #d1ac7e;
$snakeHeadColor: #1e522e;
$transcriptBackgroundColor: #1c2128;
$wallColor: #822b22;
$obstacleColor: #90993d;
$smokeColor: #939393;
$buttonsColor: #6381af;

@keyframes mineBlinking {
    0% {
        background-color: red;
    }
    
    100% {
        background-color: $gameBackgroundColor;
    }
}

@keyframes smokeBlinking {
    0% {
        background-color: $gameBackgroundColor;
    }
    100% {
        background-color: $smokeColor;
    }
}

html {
    display: flex;
    justify-content: center;
    background-color: $mainBackgroundColor;
    font-family: sans-serif;

    .start-label {
        position: absolute;
        left: 580px;
        top: 215px;
        color: white;
    }

    .pause-button {
        left: 1050px;
        top: 10px;
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 100px;
        font-size: 50px;
        text-align: center;
        vertical-align: middle;
        background-color: $buttonsColor;
        color: white;
        border: none;
        transition: 0.2s;
        
        &:hover {
            background-color: $buttonsColor;
            box-shadow: 0 0 5px $buttonsColor, 0 0 25px $buttonsColor, 0 0 5px $buttonsColor,
            0 0 10px $buttonsColor;
        }
    }

    .reload-button {
        left: 1050px;
        top: 100px;
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 100px;
        font-size: 50px;
        text-align: center;
        vertical-align: middle;
        background-color: $buttonsColor;
        color: white;
        border: none;
        transition: 0.2s;
        
        &:hover {
            background-color: $buttonsColor;
            box-shadow: 0 0 5px $buttonsColor, 0 0 25px $buttonsColor, 0 0 5px $buttonsColor,
            0 0 10px $buttonsColor;
        }
    }

    #map {
        width: 520px;
        opacity: 0.5;
        transition: 0.5s;
        height: 520px;
        border: 1px solid white;
        background-color: $gameBackgroundColor;

        &, td {
            // border: 1px solid white;
            border-collapse: collapse;
        }
    
        .snake {
            background-color: $snakeColor;
        }

        .food {
            background-color: $foodColor;
        }

        .snake-head {
            background-color: $snakeHeadColor;
        }

        .wall {
            background-color: $wallColor;
        }

        .obstacle {
            background-color: $obstacleColor;
        }

        .mine {
            animation: mineBlinking 1s infinite;

        }

        .smoke {
            animation: smokeBlinking 0.5s infinite;
        }
    }

    #info {
        width: 520px;
        height: 130px;
        border-collapse: collapse;

        #score {
            width: 100px;
            font-size: 50px;
            text-align: center;
            vertical-align: middle;
            background-color: $transcriptBackgroundColor;
            border: 1px solid white;
            color: white;
            
            p {
                font-size: 15px;
                text-align: center;
                line-height: 0;
            }
        }

        #instruct {
            background-color: $transcriptBackgroundColor;
            border: 1px solid white;
            color: white;
            
            #title{
                font-size: 15px;
                text-align: center;
                line-height: 0;
            }

            #content{
                width: 100%;

                .move-content {
                    float: left;
                    width: 30%;
                    padding-left: 5%;
                    font-size: 15px;
                    line-height: 5px;
                }

                .obstacle-content {
                    float: left;
                    width: 65%;
                    // padding-left: 10%;
                    font-size: 15px;
                    line-height: 5px;

                    .obstacle-content-item {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding-top: 8px;

                        .obstacle-content-color {
                            width: 5%;
                            width: 13px;
                            height: 13px;
                        }
                        
                        .obstacle-content-notice {
                            width: 95%;
                        }

                        .wall {
                            background-color: $wallColor;
                        }

                        .mine {
                            animation: mineBlinking 1s infinite;
                        }
                
                        .smoke {
                            animation: smokeBlinking 0.5s infinite;
                        }

                        .food {
                            background-color: $foodColor;
                        }

                        .obstacle {
                            background-color: $obstacleColor;
                        }
                    }
                }
            }
        }
    }

    #level {
        padding-top: 5px;
        width: 520px;

        td {
            text-align: center;

            button {
                width: 70px;
                height: 25px;
                border-radius: 100px;
                font-weight: bold;
            }
        }
    }
}